        {% extends 'base.html' %}
        
        {% block title %}
        <title>Dictionary App-dashboard</title>
        {% endblock %}

        {% block dash_active %}
        class="active"
        {% endblock %}
    
        {% block content %}
        <div class="row">
              <h2>Word Index</h2>
              <div class="col-md-2 sidenav">
                <a href="#" class="side-active" id="word-index">All Words</a>
                <a href="#" id="word-add">Add New</a>
                <div>
                  <form action="javascript:0" id="word-form">
                        <div class="form-group">
                                <label for="word">Word</label>
                                <input type="text" 
                                    class="form-control" 
                                    name="word" 
                                    id="word" 
                                    placeholder="Type in the word here:"
                                    required
                                >
                            </div>
                            <div class="form-group">
                                <label for="meaning">Meaning</label>
                                <textarea class="form-control" id="meaning" placeholder="Typt the meaning of the word here:" required></textarea>
                            </div> 
                            <button type="submit" class="btn btn-primary btn-block btn-lg" id="submit">Submit</button>
                            <button type="button" class="btn btn-warning btn-block btn-lg" id="cancel">Cancel</button>
                  </form>
                </div>
              </div>  
              <div class="col-md-10 main">
                <table class="table">
                  <thead>
                     <tr>
                        <th>SN</th>
                        <th>Word</th>
                        <th>Meaning</th>
                     </tr>                        
                  </thead>
                  <tbody>
                     {% for word in words %}        
                     <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ word['word'] }}</td>
                        <td>{{ word['meaning'] }}</td>
                     </tr>
                     {% else %}
                     <tr>
                        <td colspan="3">The dictionary has no words at the moment, please try again later</td>
                     </tr>
                     {% endfor %}
                  </tbody>
                </table>
              </div>
        </div>
        {% endblock  %}
     

      
